parameters:
    level: 8
    paths: [ src ]
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        # this is unfixable if we want to support multiple psr/log versions
        -
            message: '#Return type \(void\) of method Efabrica\\HttpClient\\.*::setLogger\(\) should be compatible with return type \(null\) of method Psr\\Log\\LoggerAwareInterface::setLogger\(\)#'
            reportUnmatched: false
